@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    font-family: "Jockey One", Roboto, Calibri, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 70px 0;
}

#banner { background-color: #F43443; }
#inicio { background-color: #E8E8E0; }
#personagens { background-color: #819DF9; }
#poderes { background-color: #E7D5AB; }
#viloes { background-color: #555250; }
#final { background-color: #819DF9; }

#banner {
    display: flex;
    justify-content: center; /*alinha horizontal*/
    align-items: center; /* alinha vertical */
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* direção da disposição, em coluna ou linha */
}

.botao {
    background-color: #62C82E;
    color: #fff;
    border-radius: 15px;
    padding: 10px 30px;
    font-size: 30px;
    text-decoration: none;
    width: 270px; /* largura */
    text-align: center;
    margin: 20px;
}

h2{
    color: #fff;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.personagens-item {
    width: 170px;
    text-align: center;
}

.personagens-item img{
    border-radius: 100%;
}

.personagens-lista {
    display: flex;
    justify-content: space-evenly;
}

h4 {
    color: #fff;
    background-color: #4D6DD2;
    border-radius: 10px;
    text-align: center;
    font-family: 24px;
    padding: 5px 0;
    margin-top: 10px;
}

.poderes-item {
    border: 10px solid #E7B300;
    width: 120px;
    height: 120px;
    margin: 0 20px 30px;
    border-radius: 10px;
    display: flex;
}

.poderes-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poderes-lista {
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
    margin: 0 auto;
    justify-content: center;
}

.viloes-lista {
    display: flex;
    justify-content: space-between;
}

.final-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.princesas {
    width: 170px;
    height: 180px;
    object-fit: contain;
}

#final {
    padding-bottom: 0;
}

#final h2 {
    margin-bottom: 0;
}